.quote-wrapper {
  display: flex;
  place-content: center;
}

.quote {
  background-color: lightgray;
  margin: 0.5rem;
  padding: 2rem;
  border-radius: 2rem;
}

.quote > q {
  font-style: italic;
}

.quote > .author {
  font-size: 0.9rem;
  margin-left: 1rem;
}
