.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: unset;
    width: 50%;
    order: unset;
  }
}

/* Custom Styles */
.columns.columns-2.two-column-3-7 > div > div:first-child {
  width: 30%;
}

.columns.columns-2.two-column-3-7 > div > div:last-child {
  width: 70%;
}

.columns.columns-2.two-column-4-6 > div > div:first-child {
  width: 40%;
}

.columns.columns-2.two-column-4-6 > div > div:last-child {
  width: 60%;
}

.columns.columns-2.two-column-6-4 > div > div:first-child {
  width: 60%;
}

.columns.columns-2.two-column-6-4 > div > div:last-child {
  width: 40%;
}

.columns.columns-2.two-column-7-3 > div > div:first-child {
  width: 70%;
}

.columns.columns-2.two-column-7-3 > div > div:last-child {
  width: 30%;
}
