.columns > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.column-center-aligned > div {
  text-align: center;
}

.columns.column-top-aligned > div {
  align-items: flex-start;
}

.columns.column-mobile-reverse > div {
  flex-direction: row-reverse;
}

.columns.column-img-rounded-corner > div img {
  border-radius: var(--spacing-xsmall);
}

.columns.column-rounded-corner > div > div {
  border-radius: 20px;
}

.columns.column-bg-color-gray > div > div {
  background-color: var(--c-gray-lt);
}

.columns.column-bg-color-white > div > div {
  background-color: var(--c-white);
}

.columns.column-padding-64px > div > div {
  padding: var(--spacing-medium);
}

.columns.column-padding-32px > div > div {
  padding: var(--spacing-xsmall);
}


@media (width >= 985px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  /* Custom Styles */
  .columns.column-separator > div {
    gap: unset;
  }

  .columns > div > div p {
    margin-bottom: var(--spacing-xsmall);
  }

  .columns.column-mobile-reverse > div {
    flex-direction: unset;
  }

  .columns.column-padding-large > div > div {
    padding: var(--spacing-xlarge);
  }

  .columns.column-padding-medium > div > div {
    padding: var(--spacing-medium);
  }

  .columns.column-separator > div > div:not(:first-child) {
    border-left: 1px solid var(--c-copy);
  }

  .columns.columns-2.two-column-3-7 > div > div:first-child {
    flex: 30%;
  }

  .columns.columns-2.two-column-3-7 > div > div:last-child {
    flex: 70%;
  }

  .columns.columns-2.two-column-4-6 > div > div:first-child {
    flex: 40%;
  }

  .columns.columns-2.two-column-4-6 > div > div:last-child {
    flex: 60%;
  }

  .columns.columns-2.two-column-6-4 > div > div:first-child {
    flex: 60%;
  }

  .columns.columns-2.two-column-6-4 > div > div:last-child {
    flex: 40%;
  }

  .columns.columns-2.two-column-7-3 > div > div:first-child {
    flex: 70%;
  }

  .columns.columns-2.two-column-7-3 > div > div:last-child {
    flex: 30%;
  }
}