.columns > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.columns > div > div h1,
.columns > div > div h2,
.columns > div > div h3,
.columns > div > div h4,
.columns > div > div h5,
.columns > div > div h6 {
  margin-top: 0;
}

.columns > div > div strong {
  font-weight: 600;
  font-size: var(--heading-font-size-l);
  line-height: 1.23;
}

.columns > div > div p:not(:last-child) {
  margin-bottom: 10px;
}

.columns.columns-top-padding-large {
  margin-top: 25px;
}

.columns.column-center-aligned > div {
  text-align: center;
}

.columns.column-mobile-reverse > div {
  flex-direction: column-reverse;
}

.columns.column-img-rounded-corner > div img {
  border-radius: var(--spacing-xsmall);
}

.columns.column-rounded-corner > div > div {
  border-radius: 20px;
}

.columns.column-bg-color-gray > div > div {
  background-color: var(--c-gray-lt);
}

.columns.column-bg-color-white > div > div {
  background-color: var(--c-white);
}

.columns.column-padding-64px > div > div {
  padding: var(--spacing-medium);
}

.columns.column-padding-32px > div > div {
  padding: var(--spacing-xsmall);
}

.columns.column-para-font-large > div > div p {
  font-size: 20px;
  line-height: 1.3;
}

.columns.column-padding-large > div > div {
  padding: var(--spacing-medium);
}

.columns.column-padding-medium > div > div {
  padding: var(--spacing-xsmall);
}

.columns.column-padding-small > div > div {
  padding: var(--spacing-xsmall);
}

@media (width >= 985px) {
  .columns > div {
    align-items: center;
    flex-direction: row;
  }

  .columns > div > div {
    flex: 1;
  }

  .columns.column-gap-large > div {
    gap: 125px;
  }

  .columns.column-gap-medium > div {
    gap: 64px;
  }

  .columns > div > div strong {
    font-size: calc((33 / 16) * 1rem);
    line-height: 1.18;
  }

  .columns > div:not(:last-child) {
    margin-bottom: 50px;
  }

  .columns.column-separator > div {
    gap: unset;
  }

  .columns.column-top-aligned > div {
    align-items: normal;
  }

  .columns.columns-top-padding-large {
    margin-top: 50px;
  }

  .columns.column-mobile-reverse > div {
    flex-direction: row;
  }

  .columns.column-padding-large > div > div {
    padding: var(--spacing-xlarge);
  }

  .columns.column-padding-medium > div > div {
    padding: var(--spacing-medium);
  }

  .columns.column-padding-small > div > div {
    padding: var(--spacing-small);
  }

  .columns.column-para-font-large > div > div p {
    font-size: var(--heading-font-size-m);
    line-height: 1.27;
  }

  .columns.column-separator > div > div:not(:first-child) {
    border-left: 1px solid var(--c-gray-border);
  }

  .columns.columns-2.two-column-3-7 > div > div:first-child {
    flex: 30%;
  }

  .columns.columns-2.two-column-3-7 > div > div:last-child {
    flex: 70%;
  }

  .columns.columns-2.two-column-4-6 > div > div:first-child {
    flex: 40%;
  }

  .columns.columns-2.two-column-4-6 > div > div:last-child {
    flex: 60%;
  }

  .columns.columns-2.two-column-6-4 > div > div:first-child {
    flex: 60%;
  }

  .columns.columns-2.two-column-6-4 > div > div:last-child {
    flex: 40%;
  }

  .columns.columns-2.two-column-7-3 > div > div:first-child {
    flex: 70%;
  }

  .columns.columns-2.two-column-7-3 > div > div:last-child {
    flex: 30%;
  }
}