.accordion details {
  border-top: 2px solid var(--c-gray-border);
}

.accordion details summary {
  position: relative;
  cursor: pointer;
  list-style: none;
  overflow: auto;
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  font-family: var(--ff-activate-icons);
  font-size: var(--heading-font-size-xl);
  content: var(--icon-accordion-closed);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s;
}

.accordion details[open] summary::after {
  content: var(--icon-accordion-open);
}

.accordion details .accordion-item-body {
  padding: 0 4px 30px;
  font-family: var(--ff-secondary);
  font-style: normal;
  font-weight: var(--fw-regular);
  color: var(--c-copy);
  font-size: var(--heading-font-size-s);
  line-height: 28px;
}

.accordion-button {
  background: transparent;
}
.accordion-button:focus{
  outline: none;
}


.plus-icon{
  color: var(--c-mega-menu-link);
  cursor:pointer;
  line-height: 0px;
  font-family: var(--ff-pricefx-icons);
  font-size: calc((30 / 16) * 1rem); 
  position: absolute;
  right: 0;
}

.accordion-item-label{
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-family: var(--ff-primary);
 font-size: calc((33 / 16) * 1rem); 
 font-weight: var(--fw-med);
}

.accordion-item-label p {
  margin-bottom: 0;
}

.accordion-item[open] .plus-icon::after {
  content: var(--icon-minus);
}

.accordion-item:not([open]) .plus-icon::after {
  content: var(--icon-plus);
}