.title h1,
.title h2,
.title h3,
.title h4,
.title h5,
.title h6 {
    margin-bottom: 40px;
}

.title.title-dark-blue-gradient h1,
.title.title-dark-blue-gradient h2,
.title.title-dark-blue-gradient h3,
.title.title-dark-blue-gradient h4,
.title.title-dark-blue-gradient h5,
.title.title-dark-blue-gradient h6 {
    background: var(--c-dark-blue-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title.title-64px-margin {
    margin-top: 64px;
    margin-bottom: 64px;
}

.title.title-no-top-margin {
    margin-top: 0;
}

.title.title-no-bottom-margin {
    margin-bottom: 0;
}