/* header and nav layout */
header .nav-wrapper {
  align-items: center;
  background-color: var(--c-dark);
  color: var(--c-white);
  display: flex;
  font-family: var(--ff-secondary);
  height: 107px;
  max-width: var(--site-page-width);
  position: fixed;
  width: 100%;
  z-index: 2;
}

header nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 var(--spacing-xsmall);
  width: 100%;
}

header .nav-hamburger {
  display: none;
}

/* Brand Logo */
header .nav-brand {
  max-width: 126px;
  width: 100%;
}

header img.brand-logo {
  width: 100%;
}

/* Header Nav */
header .nav-list-level-1 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

header .nav-list-level-1-item {
  font-size: var(--body-font-size-l);
  font-weight: var(--fw-lt-bold);
  margin-right: var(--spacing-small);
  position: relative;
}

header .nav-list-level-1-item::after {
  content: var(--icon-chevron-down);
  font-family: var(--ff-pricefx-icons);
  font-size: 10px;
  position: absolute;
  right: -16px;
  top: 2px;
}
