.section.hero-container {
  background-color: var(--c-gray-lt);
  padding: 0;
}

.hero .hero-main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
}

/* Hero left container styles */
.hero .hero-left-container {
  width: 100%;
  padding: 64px 24px;
}

.hero .hero-content {
  width: 100%;
}

.hero .hero-content-container h1,
.hero .hero-content-container h2,
.hero .hero-content-container h3
.hero .hero-content-container h4,
.hero .hero-content-container h5,
.hero .hero-content-container h6 {
    background: var(--c-dark-blue-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    margin: 0 0 32px;
}

.hero .hero-content-container p {
  font-size: var(--body-font-size-l);
  line-height: 24px;
  margin-bottom: 32px;
  font-family: var(--ff-secondary);
}

/* Hero right container styles */
 .hero .hero-right-container .hero-image-container {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.hero .hero-right-container .hero-image-container::before {
  content: unset;
}

.hero .hero-right-container .hero-image-container img {
    aspect-ratio: 2 / 1;
    object-fit: cover;
}

/* Hero Button */
.hero .button-container {
  display: block;
  margin-bottom: 8px;
}

.hero .button-container:last-child {
  margin-bottom: 0;
}

.hero a.button.hero-primary-button {
  appearance: none;
  background: linear-gradient(123deg, #304f8c 4.85%, #466cb9 43.45%, #304f8c 54.85%, #283f6f 86.9%);
  background-position: left;
  background-size: 300%;
  border: none;
  border-radius: 4px;
  color: var(--c-white);
  cursor: pointer;
  display: block;
  font-family: var(--ff-primary);
  font-size: var(--base-font-size);
  font-weight: var(--fw-med);
  line-height: 1;
  margin: 0;
  padding: var(--spacing-xsmall) var(--spacing-medium);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--base-transition);
}

.hero a.button.hero-primary-button:hover, 
.hero a.button.hero-primary-button:focus {
  background-position: right;
}

.hero a.button.hero-secondary-button {
  background: transparent;
  border: 2px solid var(--c-copy);
  color: var(--c-copy);
  font-family: var(--ff-primary);
  font-size: var(--base-font-size);
  font-weight: var(--fw-med);
  padding: 14px 30px;
  line-height: 1;
  border-radius: 4px;
  margin: 0;
  display: block;
  text-align: center;
}

@media (width <= 985px) {
  .hero .hero-right-container .hero-image-container {
    background-image: unset !important;
  }
}

/* Media Query for Desktop */

@media (width >= 986px) {
  .hero .hero-main-container {
    padding: 0 var(--spacing-small);
    flex-direction: row;
  }

  .hero .hero-left-container {
    max-width: 1188px;
    margin: 0 auto;
    z-index: 2;
    padding: 54px 0;
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .hero .hero-content {
    width: 75%;
  }

  .hero .hero-right-container .hero-image-container img {
    display: none;
  }

  .hero .hero-right-container .hero-image-container::before {
    background: linear-gradient(90deg, #ebecee 2.33%, #e8e8ebcf 24.08%, #e5e5e7a6 44.28%, #d9d9d900 77.69%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.hero .hero-right-container {
  inset: 0 0 0 60%;
  position: absolute;
  z-index: 1;
  min-height: 300px;
}

.hero .button-container {
  display: inline-flex;
  margin: 0 9px 0 0;
}

.hero a.button.hero-primary-button,
.hero a.button.hero-secondary-button {
  display: inline-block;
}

.hero .hero-content-container p {
  font-size: calc((27 / 16) * 1rem);
  line-height: 33px;
  margin-bottom: 35px;
}

.hero .hero-content-container h1,
.hero .hero-content-container h2,
.hero .hero-content-container h3
.hero .hero-content-container h4,
.hero .hero-content-container h5,
.hero .hero-content-container h6 {
    margin-bottom: 35px;
}  
}

@media (width >= 1280px) {
  .hero .hero-content {
    width: 64%;
  }
}

  
