.tabs .tabs-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 32px 0;
  max-width: 100%;
  gap: 8px; 
}

.tabs .tabs-list button {
align-items: center;
background: linear-gradient(123deg, var(--c-outline-drk) 9.71%, var(--c-link) 86.9%);
border: none;
border-radius: 4px;
color: var(--c-white);
cursor: pointer;
display: flex;
font-family: var(--ff-primary);
font-size: var(--base-font-size);
font-style: normal;
font-weight: var(--fw-med);
gap: 8px;
justify-content: center;
line-height: 16px;
outline-offset: 2px;
padding: 16px 32px;
position: relative;
text-align: center;
text-transform: uppercase;

}

.tabs h3 {
  margin-bottom: 24px;
}

.tabs p {
  margin-bottom: 0;
}

.tabs a.button.primary {
  margin: 0;
  margin-top: 24px;
}

.tabs .tabs-panel[aria-hidden="true"] {
  display: none;
}

.tabs button[aria-selected="true"] {
  background: var(--c-btn-drk);
}

/* Vertical Tabs Styles */
.tabs.vertical .tabs-tab {
  padding: 10px 20px;
  margin: 0;
}

@media (width >= 768px) {
  .tabs.vertical {
    display: flex;
  }

  .tabs .tabs-list {
    flex-direction: row;
    gap: 16px;
    margin: 54px 0 64px;
  }

  .tabs.vertical .tabs-list {
    flex-direction: column;
    justify-content: normal;
  }

  .tabs.vertical .tabs-panel {
    margin: 64px 0 0 50px;
  }

  .tabs.vertical .tabs-tab {
    padding: 20px 50px;
  }

  .tabs.vertical .tabs-list button[aria-selected="true"]::after,
  .tabs.vertical .tabs-list button:hover::after {
    left: calc(100% - 6px);
    top: calc(50% - 6px);
  }

  .tabs-container .default-content-wrapper {
    text-align: center;
  }
}


