/* Primary */
a.button,
button {
  appearance: none;
  background: var(--c-blue-gradient);
  border: none;
  border-radius: 4px;
  color: var(--c-white);
  cursor: pointer;
  display: inline-block;
  font-family: var(--ff-primary);
  font-size: var(--base-font-size);
  font-weight: var(--fw-med);
  line-height: 1;
  margin: var(--spacing-xsmall) 0;
  padding: var(--spacing-xsmall) var(--spacing-medium);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--base-transition);
}

a.button:active,
button:active {
  background: var(--c-btn-drk);
  outline: none;
}

a.button:focus,
a.button:hover,
button:focus,
button:hover {
  background: var(--c-blue-gradient-hover);
}

a.button:focus,
button:focus {
  outline: 2px solid var(--c-outline-drk);
  outline-offset: 2px;
}

a.button.disabled,
a.button.disabled:hover,
button:disabled,
button:disabled:hover {
  background: var(--c-disabled);
  color: var(--c-disabled-copy);
  cursor: not-allowed;
  pointer-events: none;
}

/* Primary Light */
a.button.primary-light,
button.primary-light {
  background: var(--c-blue-gradient-lt);
  color: var(--c-btn-drk);
}

a.button.primary-light:active,
button.primary-light:active {
  background: var(--c-blue-gradient-lt-active);
}

a.button.primary-light:focus,
a.button.primary-light:hover,
button.primary-light:focus,
button.primary-light:hover {
  background: var(--c-blue-gradient-lt-hover);
}

a.button.primary-light:focus,
button.primary-light:focus {
  outline: 2px solid var(--c-outline-lt);
}

a.button.primary-light.disabled,
a.button.primary-light.disabled:hover,
button.primary-light:disabled,
button.primary-light:disabled:hover {
  background: var(--c-disabled-bg);
}

/* Secondary */
a.button.secondary,
button.secondary {
  background: transparent;
  border: 2px solid var(--c-copy);
  color: var(--c-copy);
  padding: 14px 30px;
}

a.button.secondary:active,
button.secondary:active {
  backdrop-filter: blur(12px);
  background: rgba(223 225 230 / 70%);
}

a.button.secondary:focus,
a.button.secondary:hover,
button.secondary:focus,
button.secondary:hover {
  backdrop-filter: blur(12px);
  background: rgba(255 255 255 / 70%);
}

a.button.secondary:focus,
button.secondary:focus {
  outline: 2px solid var(--c-copy);
}

a.button.secondary.disabled,
a.button.secondary.disabled:hover,
button.secondary:disabled,
button.secondary:disabled:hover {
  background: var(--c-disabled-bg);
  border: 2px solid var(--c-disabled);
}

/* Secondary Light */
a.button.secondary-light,
button.secondary-light {
  background: transparent;
  border: 2px solid var(--c-disabled-bg);
  color: var(--c-disabled-bg);
  padding: 14px 30px;
}

a.button.secondary-light:active,
button.secondary-light:active {
  backdrop-filter: blur(12px);
  background: rgba(223 225 230 / 80%);
}

a.button.secondary-light:focus,
a.button.secondary-light:hover,
button.secondary-light:focus,
button.secondary-light:hover {
  backdrop-filter: blur(12px);
  background: rgba(255 255 255 / 60%);
  border: 2px solid var(--c-disabled-bg);
  color: var(--c-copy);
}

a.button.secondary-light:focus,
button.secondary-light:focus {
  outline: 2px solid var(--c-disabled-bg);
}

a.button.secondary-light.disabled,
a.button.secondary-light.disabled:hover,
button.secondary-light:disabled,
button.secondary-light:disabled:hover {
  background: var(--c-disabled-bg);
  border: 2px solid var(--c-disabled);
  color: var(--c-gray-drk);
}

/* With Icon */
a.button.button-icon,
button.button-icon {
  padding-right: 54px;
}

a.button.button-icon::after,
button.button-icon::after {
  content: var(--icon-chevron-down);
  font-family: var(--ff-pricefx-icons);
  font-size: calc((14 / 16) * 1rem);
  font-weight: var(--fw-bold);
  position: absolute;
  top: 16px;
  right: 32px;
}

a.button.secondary::after,
button.secondary::after {
  top: 13px;
}

/* Tertiary */
a.tertiary,
button.tertiary {
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 4px;
  color: var(--c-link);
  cursor: pointer;
  display: inline-block;
  font-family: var(--ff-secondary);
  font-size: var(--body-font-size-l);
  font-weight: var(--fw-regular);
  line-height: var(--base-line-height);
  margin: 0;
  padding: 0 38px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: var(--base-transition-2);
}

a.tertiary::before,
button.tertiary::before {
  content: var(--icon-arrow-left);
  font-family: var(--ff-pricefx-icons);
  font-size: calc((24 / 16) * 1rem);
  position: absolute;
  top: 0;
  left: 5px;
}

a.tertiary::after,
button.tertiary::after {
  content: var(--icon-arrow-right);
  font-family: var(--ff-pricefx-icons);
  font-size: calc((24 / 16) * 1rem);
  position: absolute;
  top: 0;
  right: 5px;
}

/* Tertiary Light */
a.tertiary-lt,
button.tertiary-lt {
  color: var(--c-link-lt);
}

/* Tertiary w/ Underline */
a.tertiary-underline,
button.tertiary-underline {
  text-decoration: underline;
}

a.tertiary:active,
a.tertiary:focus,
a.tertiary:hover,
button.tertiary:active,
button.tertiary:focus,
button.tertiary:hover {
  background: transparent;
  font-weight: var(--fw-bold);
}

a.tertiary:active,
button.tertiary:active {
  color: var(--c-gray-drk);
  outline: none;
}

a.tertiary-lt:active,
button.tertiary-lt:active {
  color: var(--c-gray);
}

a.tertiary:focus,
button.tertiary:focus {
  border: 2px solid var(--c-link);
  outline: 2px solid var(--c-link);
  outline-offset: 2px;
}

a.tertiary-lt:focus,
button.tertiary-lt:focus {
  border: 2px solid var(--c-link-lt);
  outline: 2px solid var(--c-link-lt);
}

a.tertiary.disabled,
a.tertiary.disabled:hover,
button.tertiary:disabled,
button.tertiary:disabled:hover {
  background: transparent;
  color: var(--c-gray-drk);
  cursor: not-allowed;
  pointer-events: none;
}

a.tertiary-lt.disabled,
a.tertiary-lt.disabled:hover,
button.tertiary-lt:disabled,
button.tertiary-lt:disabled:hover {
  background: transparent;
  color: var(--c-gray-med);
  cursor: not-allowed;
  pointer-events: none;
}

.button-container:has(.tertiary.disabled),
.button-container:has(.tertiary:disabled),
.button-pfx:has(.tertiary.disabled),
.button-pfx:has(.tertiary:disabled) {
  display: inline-block;
  position: relative;
}

.button-container:has(.tertiary.disabled)::before,
.button-container:has(.tertiary:disabled)::before,
.button-pfx:has(.tertiary.disabled)::before,
.button-pfx:has(.tertiary:disabled)::before {
  background: var(--c-gray-drk);
  content: '';
  display: inline-block;
  height: 2px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 100%;
}

.button-container:has(.tertiary-lt.disabled)::before,
.button-container:has(.tertiary-lt:disabled)::before,
.button-pfx:has(.tertiary-lt.disabled)::before,
.button-pfx:has(.tertiary-lt:disabled)::before {
  background: var(--c-gray-med);
}
