.table {
  font-family: var(--ff-secondary);
  border-collapse: collapse;
  max-width: 1188px;
  overflow-x:auto;
}

/* Default Table */
.table .table-default {
  font-family: var(--ff-secondary);
  border-collapse: collapse;
  border: 2px solid var(--c-full-black);
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  width: 100%;
  height: 100%;
  
}

.table  .table-default td, .table .table-default th {
  border: 1px solid var(--c-table-border);
  text-align: left;
  padding: var(--spacing-small) var(--spacing-medium);
}

.table .table-default tr:nth-child(odd) {
    background-color: var(--c-disabled);
}

.table .table-default th {
  text-align: left;
  background-color: var(--c-copy);
  color: var(--c-white);
}

/* Level Table & Level Color common */
.table .table-level, .table .levelcolor {
  font-family: var(--ff-secondary);
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.table .table-level td,.table  .table-level th, .table .levelcolor td, .table .levelcolor th {
  padding: var(--spacing-small) var(--spacing-medium);
  text-align: left;
}

.table .table-level th, .table .levelcolor th {
    font-family: var( --ff-primary);
}

.table .table-level tr:nth-child(odd), .table .levelcolor tr:nth-child(odd){
    background-color: var(--c-table-level);
}

.table .table-level th {
  padding-top: calc((12 / 16) * 1rem);
  padding-bottom: calc((12 / 16) * 1rem);
  text-align: left;
  background-color: var(--c-outline-drk);
  color: var(--c-white);
}

/* level color table */

.table .levelcolor th {
  padding-top: calc((12 / 16) * 1rem);
  padding-bottom: calc((12 / 16) * 1rem);
  text-align: left;
  background-color: var(--c-table-level-header);
}

.table .concentric-circle {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.table .table-icon {
  font-family: var(--ff-secondary);
  border: 2px solid black;
  background-color: var(--c-disabled);
  color: var(--c-black);
  text-align: center;
  border-collapse: collapse; 
  width: 100%;
  height: 100%;
}

.table .table-icon th {
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 3px;
  background-color: var(--c-copy);
  color: var(--c-white);
}

.table .table-icon th:not(:first-child)::after {
    background: var(--c-primary-lt);
    border-radius: 100%;
    color: var(--c-white);
    content: "+";
    display: block;
    font-family: var(--ff-secondary);
    font-size: var(--base-line-height);
    font-weight: var(--fw-xx-bold);
    height: var(--base-line-height);
    line-height: 24px;
    position: relative;
    left: -14px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
}

.table .table-icon td{
  padding: var(--spacing-small) var(--spacing-medium);
}

.table .table-icon td,.table .table-icon th {
  border: 4px solid var(--c-table-border);
  font-weight: var(--fw-bold);
}

/* IM-connect table */

.table .table-im-connect td, .table .table-im-connect th {
  border: 1px solid var(--c-table-border);
  padding: var(--spacing-small) var(--spacing-medium);
}

 .table .table-im-connect th {
  height: 52px;
 }

.table .table-im-connect {
  color: var(--c-full-black);
  font-family: var(--ff-secondary);
  font-size: var(--base-font-size);
  font-style: normal;
  font-weight: var(--fw-regular);
  line-height: 24px; 
  background: var( --c-table-background);
  width: 100%;
  height: 100%;
}

