body.modal-open {
  overflow: hidden;
}

.modal dialog {
  --dialog-border-radius: 8px;

  overscroll-behavior: none;
  border: 1px solid #ccc;
  border-radius: var(--dialog-border-radius);
  width: 100vw;
}

.modal dialog .modal-content {
  overflow-y: auto;
  overscroll-behavior: none;
  max-height: calc(100dvh - 60px);
}

@media (width >= 600px) {
  .modal dialog {
    padding: 30px;
    width: 80vw;
  }

  .modal dialog .modal-content {
    max-height: calc(100vh - 90px);
  }
}

.modal dialog::backdrop {
  background-color: rgb(0 0 0 / 90%);
}

.modal .close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  max-height: 30px;
  border-radius: 0 var(--dialog-border-radius) 0 0;
  background: none;
  text-overflow: clip;
  margin: 0;
  border: none;
  padding-right: 30px;
}

.modal .close-button .icon-close {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.modal .close-button .icon-close::before {
  content: var(--icon-x);
  font-family: var(--ff-pricefx-icons);
  font-size: var(--heading-font-size-s);
  font-weight: var(--fw-bold);
  color: var(--c-black);
  position: absolute;
  top: 0;
  right: 0;
}

.modal dialog .section {
  padding: 0;
}

/* Responsive Styles */
@media (width >= 768px) {
  .modal .close-button .icon-close::before {
    font-size: var(--heading-font-size-l);
  }
}
