.section[data-backgroundcolor="section--background-color-grey"] {
    background-color: var(--c-gray-lt);
}

.section[data-backgroundcolor="section--background-color-white"] {
    background-color: var(--c-white);
}

.section[data-alignment="section--text-align-left"] {
    text-align: left;
}

.section[data-alignment="section--text-align-center"] {
    text-align: center;
}

.section[data-alignment="section--text-align-right"] {
    text-align: right;
}

.section[data-maxwidth="section--site-width"] {
    margin: 0 auto;
    max-width: 1188px;
}

.section[data-maxwidth="section--site-width-984px"] {
    margin: 0 auto;
    max-width: 984px;
}

.section[data-maxwidth="section--site-width-800px"] {
    margin: 0 auto;
    max-width: 800px;
}

.section[data-maxwidth="section--site-width-680px"] {
    margin: 0 auto;
    max-width: 680px;
}

.section[data-padding="section--no-padding"] {
    padding: 0;
}
