.social-share {
    margin: 0 auto;
    text-align: center;
}

.a2a_kit {
    display: inline-block;
}

.social-share .a2a_default_style > li,
.social-share .social-follow > li {
    display: inline-block;
}

.social-share .a2a_default_style > li:not(:last-child),
.social-share .social-follow > li:not(:last-child) {
    padding-right: 40px;
}

.social-share.social-share-light-theme svg path {
    fill: var(--c-white);
}

.social-share.social-share-light-theme svg.email path {
    stroke: var(--c-white);
    fill: transparent;
}
