/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/*
--------------------------------
  CSS VARIABLES
--------------------------------
*/
:root {

  /* || FONTS || */
  /* ----------- */

  /* Base Fonts */
  --ff-primary: 'neo-sans-pro', sans-serif;
  --ff-secondary: 'open-sans', sans-serif;
  --ff-pricefx-icons: 'pricefx-icons';
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* Font Weights */
  --fw-regular: 400;
  --fw-med: 500;
  --fw-lt-bold: 600;
  --fw-bold: 700;

  /* Font Icons */
  --icon-plus: "\e917";
  --icon-minus: "\e915";
  --icon-arrow-left: "\e903";
  --icon-arrow-right: "\e904";
  --icon-arrow-up: "\e905";
  --icon-arrow-down: "\e902";
  --icon-chevron-left: "\e90b";
  --icon-chevron-right: "\e90c";
  --icon-chevron-up: "\e90d";
  --icon-chevron-down: "\e90a";
  --icon-search: "\e918";
  --icon-menu: "\e914";
  --icon-filter: "\e901";
  --icon-x: "\e91e";
  --icon-check: "\e909";
  --icon-triangle-right: "\e900";
  --icon-check-circle: "\e908";
  --icon-x-circle: "\e91d";
  --icon-exclamation-circle: "\e90f";
  --icon-info-circle: "\e913";
  
  /* || BASE SIZING || */
  /* ----------------- */

  /* Base Font Sizing */
  font-size: var(--base-font-size);

  --base-font-size: calc((16 / 16) * 1rem); /* for Accessible Font Sizing */
  --base-line-height: calc((24 / 16) * 1rem);
  --body-font-size-l: calc((18 / 16) * 1rem);
  --body-font-size-m: var(--base-font-size);
  --body-font-size-s: calc((15 / 16) * 1rem);
  --body-font-size-xs: calc((13 / 16) * 1rem);

  /* Default Heading Sizing (Mobile 1st) */
  --heading-font-size-xxl: calc((40 / 16) * 1rem);
  --heading-font-size-xl: calc((30 / 16) * 1rem);
  --heading-font-size-l: calc((26 / 16) * 1rem);
  --heading-font-size-m: calc((22 / 16) * 1rem);
  --heading-font-size-s: calc((20 / 16) * 1rem);

  /* Base Spacing */
  --spacing-micro: 4px;
  --spacing-xxsmall: 8px;
  --spacing-xsmall: 16px;
  --spacing-small: 24px;
  --spacing-medium: 32px;
  --spacing-large: 48px;
  --spacing-xlarge: 64px;
  --spacing-xxlarge: 96px;
  --spacing-jumbo: 128px;

  /* || COLOR PALETTE || */
  /* ------------------- */

  /* Primary Shades */
  --c-primary: #2955a3;
  --c-primary-lt: #41b6e6;

  /* Secondary Shades */
  --c-copy: #484d56;
  --c-secondary-green: #a3d28d;
  --c-secondary-orange: #e95316;
  --c-secondary-pink: #df549d;
  --c-secondary-turquoise: #00c9d4;

  /*  Gray Shades */
  --c-gray: #dfe1e6;
  --c-gray-lt: #ebecee;
  --c-gray-med: #b5bac4;
  --c-gray-drk: #6e7178;
  --c-gray-border: #d3d3d3;
  --c-disabled-copy: #575858;
  --c-disabled: #ebecf0;

  /* Misc */
  --c-white: #fff;
  --c-black: #3c3c3b;
  --c-dark: #353535;
  --c-offwhite: #f9fafa;
  --c-outline-drk: #304f8c;
  --c-outline-lt: #a9c0ec;
  --c-link: #466cb9;
  --c-link-lt: #5fbbe8;

  /* Alerts */
  --c-disabled-border: var(--c-gray-border);
  --c-disabled-bg: #f4f5f7;
  --c-error: #ff4b5d;
  --c-error-bg: #fff0f1;
  --c-success: #36a300;
  --c-success-bg: #f1fcec;

  /* Backgrounds */
  --c-banner-drk: var(--c-dark);
  --c-banner-lt: var(--c-gray-lt);
  --c-banner-lt-striping: var(--c-gray-border);
  --c-btn-drk: #1f3053;

  /* || SITE LAYOUT || */
  /* ----------------- */
  --site-content-width: 1280px;

  /* || VISIBILITY || */
  /* ---------------- */
  --base-transition: all 0.15s ease-in-out;
  --base-transition-2: all 0.3s ease-in-out;
}

/* || MEDIA QUERY UPDATES || */
/* ------------------------- */
@media (width >= 768px) {
  :root {

    /* Headings */
    --heading-font-size-xxl: calc((80 / 16) * 1rem);
    --heading-font-size-xl: calc((50 / 16) * 1rem);
    --heading-font-size-l: calc((33 / 16) * 1rem);
    --heading-font-size-m: calc((27 / 16) * 1rem);
    --heading-font-size-s: calc((22 / 16) * 1rem);
  }
}

/*
----------------------------------------
  BASE CSS RULES
----------------------------------------
*/
/* Base Styles */
html,
body,
input,
select {
  font-size: var(--body-font-size-l);
  line-height: var(--base-line-height);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--c-copy);
  display: none;
  font-size: var(--body-font-size-l);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.appear {
  display: block;
}

/* links */
a,
a:hover,
a:visited {
  color: var(--c-copy);
  line-height: var(--base-line-height);
  text-decoration: underline;
}

p,
dl,
ol,
ul,
pre,
blockquote,
figure {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/*
----------------------------------------
  BUTTON CSS RULES
----------------------------------------
*/
/* Primary */
a.button,
button {
  appearance: none;
  background: linear-gradient(123deg, #304f8c 4.85%, #466cb9 43.45%, #304f8c 54.85%, #283f6f 86.9%);
  background-position: left;
  background-size: 300%;
  border: none;
  border-radius: 4px;
  color: var(--c-white);
  cursor: pointer;
  display: inline-block;
  font-family: var(--ff-primary);
  font-size: var(--base-font-size);
  font-weight: var(--fw-med);
  line-height: 1;
  margin: var(--spacing-xsmall) 0;
  padding: var(--spacing-xsmall) var(--spacing-medium);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--base-transition);
}

a.button:active,
button:active {
  background: var(--c-btn-drk);
  outline: none;
}

a.button:focus,
a.button:hover,
button:focus,
button:hover {
    background-position: right;
}

a.button:focus,
button:focus {
  outline: 2px solid var(--c-outline-drk);
  outline-offset: 2px;
}

a.button.disabled,
a.button.disabled:hover,
button:disabled,
button:disabled:hover {
  background: var(--c-disabled);
  color: var(--c-disabled-copy);
  cursor: not-allowed;
  pointer-events: none;
}

/* Primary Light */
a.button.primary-light,
button.primary-light {
  background: var(--c-blue-gradient-lt);
  color: var(--c-btn-drk);
}

a.button.primary-light:active,
button.primary-light:active {
  background: var(--c-blue-gradient-lt-active);
}

a.button.primary-light:focus,
a.button.primary-light:hover,
button.primary-light:focus,
button.primary-light:hover {
  background: var(--c-blue-gradient-lt-hover);
}

a.button.primary-light:focus,
button.primary-light:focus {
  outline: 2px solid var(--c-outline-lt);
}

a.button.primary-light.disabled,
a.button.primary-light.disabled:hover,
button.primary-light:disabled,
button.primary-light:disabled:hover {
  background: var(--c-disabled-bg);
}

/* Secondary */
a.button.secondary,
button.secondary {
  background: transparent;
  border: 2px solid var(--c-copy);
  color: var(--c-copy);
  padding: 14px 30px;
}

a.button.secondary:active,
button.secondary:active {
  backdrop-filter: blur(12px);
  background: rgba(223 225 230 / 70%);
}

a.button.secondary:focus,
a.button.secondary:hover,
button.secondary:focus,
button.secondary:hover {
  backdrop-filter: blur(12px);
  background: rgba(255 255 255 / 70%);
}

a.button.secondary:focus,
button.secondary:focus {
  outline: 2px solid var(--c-copy);
}

a.button.secondary.disabled,
a.button.secondary.disabled:hover,
button.secondary:disabled,
button.secondary:disabled:hover {
  background: var(--c-disabled-bg);
  border: 2px solid var(--c-disabled);
}

/* Secondary Light */
a.button.secondary-light,
button.secondary-light {
  background: transparent;
  border: 2px solid var(--c-disabled-bg);
  color: var(--c-disabled-bg);
  padding: 14px 30px;
}

a.button.secondary-light:active,
button.secondary-light:active {
  backdrop-filter: blur(12px);
  background: rgba(223 225 230 / 80%);
}

a.button.secondary-light:focus,
a.button.secondary-light:hover,
button.secondary-light:focus,
button.secondary-light:hover {
  backdrop-filter: blur(12px);
  background: rgba(255 255 255 / 60%);
  border: 2px solid var(--c-disabled-bg);
  color: var(--c-copy);
}

a.button.secondary-light:focus,
button.secondary-light:focus {
  outline: 2px solid var(--c-disabled-bg);
}

a.button.secondary-light.disabled,
a.button.secondary-light.disabled:hover,
button.secondary-light:disabled,
button.secondary-light:disabled:hover {
  background: var(--c-disabled-bg);
  border: 2px solid var(--c-disabled);
  color: var(--c-gray-drk);
}

/* With Icon */
a.button.button-icon,
button.button-icon {
  padding-right: 54px;
}

a.button.button-icon::after,
button.button-icon::after {
  content: var(--icon-chevron-down);
  font-family: var(--ff-pricefx-icons);
  font-size: calc((14 / 16) * 1rem);
  font-weight: var(--fw-bold);
  position: absolute;
  top: 16px;
  right: 32px;
}

a.button.secondary::after,
button.secondary::after {
  top: 13px;
}

/* Tertiary */
a.tertiary,
button.tertiary {
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 4px;
  color: var(--c-link);
  cursor: pointer;
  display: inline-block;
  font-family: var(--ff-secondary);
  font-size: var(--body-font-size-l);
  font-weight: var(--fw-regular);
  line-height: var(--base-line-height);
  margin: 0;
  padding: 0 38px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: var(--base-transition-2);
}

a.tertiary::before,
button.tertiary::before {
  content: var(--icon-arrow-left);
  font-family: var(--ff-pricefx-icons);
  font-size: calc((24 / 16) * 1rem);
  position: absolute;
  top: 0;
  left: 5px;
}

a.tertiary::after,
button.tertiary::after {
  content: var(--icon-arrow-right);
  font-family: var(--ff-pricefx-icons);
  font-size: calc((24 / 16) * 1rem);
  position: absolute;
  top: 0;
  right: 5px;
}

/* Tertiary Light */
a.tertiary-lt,
button.tertiary-lt {
  color: var(--c-link-lt);
}

/* Tertiary w/ Underline */
a.tertiary-underline,
button.tertiary-underline {
  text-decoration: underline;
}

a.tertiary:active,
a.tertiary:focus,
a.tertiary:hover,
button.tertiary:active,
button.tertiary:focus,
button.tertiary:hover {
  background: transparent;
  font-weight: var(--fw-bold);
}

a.tertiary:active,
button.tertiary:active {
  color: var(--c-gray-drk);
  outline: none;
}

a.tertiary-lt:active,
button.tertiary-lt:active {
  color: var(--c-gray);
}

a.tertiary:focus,
button.tertiary:focus {
  border: 2px solid var(--c-link);
  outline: 2px solid var(--c-link);
  outline-offset: 2px;
}

a.tertiary-lt:focus,
button.tertiary-lt:focus {
  border: 2px solid var(--c-link-lt);
  outline: 2px solid var(--c-link-lt);
}

a.tertiary.disabled,
a.tertiary.disabled:hover,
button.tertiary:disabled,
button.tertiary:disabled:hover {
  background: transparent;
  color: var(--c-gray-drk);
  cursor: not-allowed;
  pointer-events: none;
}

a.tertiary-lt.disabled,
a.tertiary-lt.disabled:hover,
button.tertiary-lt:disabled,
button.tertiary-lt:disabled:hover {
  background: transparent;
  color: var(--c-gray-med);
  cursor: not-allowed;
  pointer-events: none;
}

.button-container:has(.tertiary.disabled),
.button-container:has(.tertiary:disabled),
.button-pfx:has(.tertiary.disabled),
.button-pfx:has(.tertiary:disabled) {
  display: inline-block;
  position: relative;
}

.button-container:has(.tertiary.disabled)::before,
.button-container:has(.tertiary:disabled)::before,
.button-pfx:has(.tertiary.disabled)::before,
.button-pfx:has(.tertiary:disabled)::before {
  background: var(--c-gray-drk);
  content: '';
  display: inline-block;
  height: 2px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 100%;
}

.button-container:has(.tertiary-lt.disabled)::before,
.button-container:has(.tertiary-lt:disabled)::before,
.button-pfx:has(.tertiary-lt.disabled)::before,
.button-pfx:has(.tertiary-lt:disabled)::before {
  background: var(--c-gray-med);
}

/*
------------------------------------
  TYPOGRAPHY CSS RULES
------------------------------------
*/
/* Base Heading Rules */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-copy);
  line-height: 1;
  margin: var(--spacing-xsmall) 0;
}

h1,
h2,
h3,
h6 {
  font-family: var(--ff-primary);
}

h1,
h2,
h3 {
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--heading-font-size-xxl);
  line-height: 1.15;
}

h2 {
  font-size: var(--heading-font-size-xl);
  line-height: 1.2;
}

h3 {
  font-size: var(--heading-font-size-l);
  line-height: 1.23;
}

h4 {
  font-size: var(--heading-font-size-m);
  line-height: 1.27;
}

h5 {
  font-size: var(--heading-font-size-s);
  line-height: 1.3;
}

h6 {
  font-size: var(--heading-font-size-s);
  font-weight: var(--fw-med);
  letter-spacing: 1.5px;
  line-height: 1.25;
  text-transform: uppercase;
}

@media (width >= 768px) {
  h1 {
    line-height: 1.075;
  }

  h2 {
    line-height: 1.12;
  }

  h3 {
    font-weight: var(--fw-med);
    line-height: 1.18;
  }

  h4 {
    line-height: 1.22;
  }

  h5 {
    font-weight: var(--fw-lt-bold);
    line-height: 1.27;
  }

  h6 {
    font-weight: var(--fw-bold);
    letter-spacing: normal;
    line-height: 1.27;
    text-transform: none;
  }
}

/* ==========================================
  TODO: ASSESS AND REFACTOR BEFORE REMOVING
============================================= */
/* sections */
main .section {
  padding: 64px 16px;
}

@media (width >= 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (width >= 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--c-gray-lt);
}
