.title-pfx.title-dark-blue-gradient h1,
.title-pfx.title-dark-blue-gradient h2,
.title-pfx.title-dark-blue-gradient h3,
.title-pfx.title-dark-blue-gradient h4,
.title-pfx.title-dark-blue-gradient h5,
.title-pfx.title-dark-blue-gradient h6 {
    background: var(--c-dark-blue-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-pfx.title-spacer-small {
    margin-top: 12px;
    margin-bottom: 12px;
}

.title-pfx.title-spacer-medium {
    margin-top: var(--spacing-xsmall);
    margin-bottom: var(--spacing-xsmall);
}

.title-pfx.title-spacer-large {
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
}

.title-pfx.title-spacer-extra-large {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

@media (width >= 768px) {
    .title-pfx.title-spacer-small {
        margin-top: var(--spacing-small);
        margin-bottom: var(--spacing-small);
    }
    
    .title-pfx.title-spacer-medium {
        margin-top: var(--spacing-medium);
        margin-bottom: var(--spacing-medium);
    }
    
    .title-pfx.title-spacer-large {
        margin-top: var(--spacing-large);
        margin-bottom: var(--spacing-large);
    }
    
    .title-pfx.title-spacer-extra-large {
        margin-top: var(--spacing-xlarge);
        margin-bottom: var(--spacing-xlarge);
    }
}

.title-pfx.title-no-top-margin {
    margin-top: 0;
}

.title-pfx.title-no-bottom-margin {
    margin-bottom: 0;
}